//Variables

$title-font: normal 24px/1.5 "Open Sans", sans-serif;
$cool-green: #45a3afc5;
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2);

h1.title {
  font: $title-font;
  color: $cool-green;
  font-family: Georgia, "Times New Roman", Times, serif;
}

div.topics {
  background: #acacac7a;
  width: 30%;
  box-shadow: $box-shadow-bottom-only;
  padding: 20px;
  float: left;
  height: 200px;
  margin: 5px;
  border: 5px solid rgba(128, 128, 128, 0.24);
}

//Mixin
@mixin square($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
  float: left;
  margin: 5px;
}

.small-blue-square {
  @include square(20px, #87bae1);
}

.big-red-square {
  @include square(120px, #e4749e);
}

//Extend
.dialog-button {
  box-sizing: border-box;
  color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  padding: 12px 40px;
  cursor: pointer;
}

.confirm {
  @extend .dialog-button;
  background-color: #87bae1;
  float: left;
}

.cancel {
  @extend .dialog-button;
  background-color: #e4749e;
  float: right;
}

//Nesting

ul {
  list-style: none;

  li {
    padding: 15px;
    display: inline-block;

    a {
      text-decoration: none;
      font-size: 16px;
      color: #444;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

//Operations

$width: 600px;
$color-rose: rgb(79, 190, 148);
$height: 50px;

.container {
  width: $width;
  height: $height;
}

.column-half {
  width: $width / 2;
  background-color: $color-rose;
  height: $height;
  margin: 5px;
}

.column-fifth {
  width: $width / 5;
  background-color: $color-rose;
  height: $height;
}

//Functions
$awesome-blue: #2196f3;
a.link {
  padding: 10px 15px;
  background-color: $awesome-blue;
}

a.link:hover {
  background-color: darken($awesome-blue, 10%);
}
